:root {
    --white: #FFFFFFFF;
    --black: #191919FF;
    --primary-50: #E9EBEBFF;
    --primary-100: #BCBFC1FF;
    --primary-200: #9BA1A3FF;
    --primary-300: #6E767AFF;
    --primary-400: #515B60FF;
    --primary-500: #263238FF;
    --primary-600: #232E33FF;
    --primary-700: #1B2428FF;
    --primary-800: #151C1FFF;
    --primary-900: #101518FF;
    --gray: #8F95A5FF;
    --Spacing---space-1: 4px;
    --Spacing---space-2: 8px;
    --Spacing---space-3: 12px;
    --Spacing---space-4: 16px;
    --Spacing---space-5: 20px;
    --Spacing---space-6: 24px;
    --Spacing---space-7: 32px;
    --Spacing---space-8: 40px;
    --Spacing---space-9: 48px;
    --Spacing---space-10: 64px;
    --text-body: var(--gray);
    --text-menu: var(--primary-500);
    --color-button-primary-bg: var(--primary-500);
    --text-dark: var(--black);
    --btn-border:var(--black)
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-body);
    font-weight: var(--Font-Weight-font-weight-regular);
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
h1 {
    color: var(--heading-large, #191919);
    font-size: var(--Font-Sizes-font-size-5xl, 64px);
    font-weight: var(--Font-Weight-font-weight-semibold, 600);
    line-height: var(--Line-Height-line-height-large, 80px); /* 125% */
    letter-spacing: var(--Letter-Spacing-letter-spacing-normal, 0);
}
h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: black;
}
h3 {
    color: var(--card-title, #263238);
    font-size: var(--Font-Sizes-font-size-2xl, 30px);
    font-weight: var(--Font-Weight-font-weight-semibold, 600);
    line-height: var(--Line-Height-line-height-large, 80px); /* 266.667% */
}
a {
    text-decoration: none;
    color: var(--primary-500);
}
.btn, a {
    cursor: pointer;
}
.btn {
    font-family: inherit;
}
a:hover {
    color: #8F95A5;
}
.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 130px;
    margin: 0 auto;
}
/* Menu */
.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__container {
    display: flex;
    align-items: center;
}
.logo__container {
    margin-right: 260px;
}
.menu__list {
    padding: 0;
    margin-right: 240px;
}
.menu__list:last-child {
    padding-right: 0;
}
.menu__list li{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
}
.menu__list:last-child {
    padding-right: 0;
}
.btn__secondary {
    display: inline-flex;
    padding: var(--button-padding-secondary-y, 16px) var(--button-padding-secondary-x, 48px);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--btn-border, #191919);
    color: var(--text-dark, #191919);
    font-size: var(--Font-Sizes-font-size-button-secondary, 24px);
    font-weight: var(--Font-Weight-font-weight-medium, 500);
    background-color: var(--white);
}
.btn__secondary:hover {
    background-color: var(--primary-500);
    color: var(--white);
    border-color: var(--primary-500);
}
/* Hero */
.hero {
    margin-top: 118px;
    position: relative;
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.hero__headline {
    text-transform: capitalize;
    max-width: 386px;
    width: 100%;
}
.mobile-break {
    display: block;
    margin-bottom: 8px;
}
.light-img {
    position: absolute;
    left: 700px;
    top: 100px;
}
.hero__description {
    margin: 40px 0 65px 0;
    font-size: var(--Font-Sizes-font-size-xl, 24px);
    font-style: normal;
    font-weight: var(--Font-Weight-font-weight-regular, 400);
    max-width: 570px;
    width: 100%;
}
.btn__header {
    display: flex;
    width: 458px;
    padding: 32px 117px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--color-button-primary-bg, #263238);
    color: var(--text-light, #FFF);
    font-size: var(--text__btn-hero, 36px);
    font-weight: var(--regular, 400);
}
.btn__header:hover, .btn__card:hover {
    background-color: var(--primary-800);
}
.hero__img {
    transform: translateY(-44px);
}
/* Skills */
.skills {
    padding: 50px 0;
}
.btn__card {
    display: inline-flex;
    padding: var(--Spacing-space-4, 16px) var(----spacing-4xl, 48px);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--color-button-primary-bg, #263238);
    color: var(--text-light, #FFF);
    font-size: var(--Font-Sizes-font-size-button, 20px);
    font-weight: var(--Font-Weight-font-weight-medium, 500);
}
.skills__grid {
    display: grid;
    gap: 18px;
    grid-template-areas: 
    "one two three"
    "one four four";
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 92px;
}
.skills__headline {
    text-align: center;
}
.skills__grid-item {
    background-color: #F5F5F5;
    padding: 18px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.skills__grid-content {
    padding: 0 35px 0 23px;
}
.skills__grid-image {
    max-width: 100%;
}
.skills__grid-description{
    font-size: var(--card-font-size, 16px);
    font-weight: 400;
    padding-bottom: 36px;
}
/* Speaking */
.skills__grid-description:nth-of-type(2) {
    max-width: 340px;
    margin-bottom: 5px;
}
.speaking .skills__grid-image {
    margin-top: 18px;
}
.skills__grid-description p:not(:first-child) {
    margin-top: 24px;
}
.speaking .skills__grid-content {
    padding-bottom: 92px;
}

/* Writing */
.skills__grid-item.writing {
    padding-top: 0;
}
.writing .skills__grid-image {
    margin: 0 0 0 92px;
    padding-top: 0;
    height: 252px;
}
.writing .skills__grid-headline {
    max-height: 60px;
}
.writing .skills__grid-description {
    margin-top: 8px;
}
/* Reading */
.skills__grid-item.reading {
    padding-top: 0;
}
.reading .skills__grid-description {
    width: 365px;
}
.reading .skills__grid-headline {
    height: 60px;
    margin-bottom: 5px;
}
.speaking {
    grid-area: one;
    width: 435px;
    height: 894px;
}
.writing {
    grid-area: two;
    width: 434px;
    height: 531px;
}
.reading {
    grid-area: three;
    width: 434px;
    height: 531px;
}
.listening {
    grid-area: four;
    flex-direction: row;
    width: 885px;
    height: 343px;
}
.listening .skills__grid-image {
    order: 1;
}
.about_us {
}
.about__text {
}
.about__headline {
}
.text__body {
}
.about__description {
}
.about__grid {
}
.about__grid-nums {
}
.about__grid-num {
}
.about__grid-text {
}
.about__img {
}
.pricing {
}
.pricing__headline {
}
.pricing__grid {
}
.pricing__grid-item {
}
.pricing__grid-img {
}
.pricing__grid-text {
}
.pricing__grid-headline {
}
.pricing__grid-description {
}
.pricing__grid-price {
}
.pricing__grid-num {
}
.pricing__grid-period {
}
.contact {
}
.contact__container-img {
}
.contact__img {
}
.contact__text {
}
.contact__headline {
}
.contact__description {
}
.contact__form {
}
.form-example {
}
.btn__form {
}
.footer {
}
.footer__logo {
}
.footer__img {
}
.footer__policy {
}
.footer__links {
}
