:root {
    --white: #FFFFFFFF;
    --black: #191919FF;
    --primary-50: #E9EBEBFF;
    --primary-100: #BCBFC1FF;
    --primary-200: #9BA1A3FF;
    --primary-300: #6E767AFF;
    --primary-400: #515B60FF;
    --primary-500: #263238FF;
    --primary-600: #232E33FF;
    --primary-700: #1B2428FF;
    --primary-800: #151C1FFF;
    --primary-900: #101518FF;
    --gray: #8F95A5FF;
    --Spacing---space-1: 4px;
    --Spacing---space-2: 8px;
    --Spacing---space-3: 12px;
    --Spacing---space-4: 16px;
    --Spacing---space-5: 20px;
    --Spacing---space-6: 24px;
    --Spacing---space-7: 32px;
    --Spacing---space-8: 40px;
    --Spacing---space-9: 48px;
    --Spacing---space-10: 64px;
    --text-body: var(--gray);
    --text-menu: var(--primary-500);
    --color-button-primary-bg: var(--primary-500);
    --text-dark: var(--black);
    --btn-border:var(--black)

    /* Semantic Spacing - Desktop */

}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-body);
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
h1 {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
}
h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: black;
}
h3 {
    color: #263238;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
}
a {
    text-decoration: none;
    color: var(--primary-500);
}
.btn, a {
    cursor: pointer;
}
a:hover {
    color: #8F95A5;
}
.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 130px;
    margin: 0 auto;
}
/* Menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__container {
    margin-right: 253px;
}
.menu__list {
    padding: 0;
    margin-right: 204px;
}
.menu__list:last-child {
    padding-right: 0;
}
.menu__list li{
    display: inline-block;
    margin-right: 36px;
    font-size: 20px;
    font-weight: 500;
}
.menu__list:last-child {
    padding-right: 0;
}
.btn__secondary {
    display: inline-flex;
    padding: var(--button-padding-secondary-y, 16px) var(--button-padding-secondary-x, 48px);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--btn-border, #191919);
    color: var(--text-dark, #191919);
    font-size: var(--Font-Sizes-font-size-button-secondary, 24px);
    font-weight: var(--Font-Weight-font-weight-medium, 500);
    background-color: var(--white);
}
.btn__secondary:hover {
    background-color: var(--primary-500);
    color: var(--white);
    border-color: var(--primary-500);
}
/* Hero */
.hero {
    margin-top: 113px;
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.hero__text {
}
.hero__headline {
    text-transform: capitalize;
    max-width: 386px;
    width: 100%;
    position: relative;
}
.mobile-break {
    display: block;
    padding-top: 14px;
    margin-bottom: 16px;
}
.light-img {
    position: absolute;
    left: 34.49%;
    top: 43%;
}
.hero__description {
    margin-top: 48px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 570px;
    width: 100%;
    margin-bottom: 65px;
}
.btn__header {
    width: 438px;
    height: 118px;
    border-radius: 15px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero__img {
    position: absolute;
    left: 50.93%;
    top: 24%;
}
/* Skills */
.skills {
    margin-top: 100px;
    padding: 50px 0;
}
.skills__grid {
    display: grid;
    gap: 18px;
    grid-template-areas: 
    "one two three"
    "one four four";
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 92px;
}
.skills__headline {
    text-align: center;
}
.skills__grid-item {
    background-color: #F5F5F5;
    padding: 18px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.skills__grid-content {
    padding-left: 23px;
    padding-right: 35px;
}
.skills__grid-image {
    max-width: 100%;
}
.skills__grid-description{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Speaking */
.speaking .skills__grid-description {
    padding-bottom: 25px;
}
.skills__grid-description:nth-of-type(2) {
    max-width: 340px;
    margin-bottom: 5px;
}
.speaking .skills__grid-image {
    margin-top: 18px;
}

/* Writing */
.skills__grid-item.writing {
    padding-top: 0;
}
.writing .skills__grid-image {
    margin-left: 92px;
    margin-top: 0;
    padding-top: 0;
    height: 252px;
}
.writing .skills__grid-content {
    padding-left: 12px;
}
.writing .skills__grid-headline {
    max-height: 60px;
}
.writing .skills__grid-description {
    margin-top: 10px;
    margin-bottom: 31px;
}
.btn__card {

}
.btn__primary {
    width: 218px;
    height: 60px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}
.btn__primary:hover {
    opacity: 0.8;
}
.speaking {
    grid-area: one;
}
.writing {
    grid-area: two;
}
.reading {
    grid-area: three;
}
.listening {
    grid-area: four;
    flex-direction: row;
}
.listening .skills__grid-image {
    order: 1;
}
.about_us {
}
.about__text {
}
.about__headline {
}
.text__body {
}
.about__description {
}
.about__grid {
}
.about__grid-nums {
}
.about__grid-num {
}
.about__grid-text {
}
.about__img {
}
.pricing {
}
.pricing__headline {
}
.pricing__grid {
}
.pricing__grid-item {
}
.pricing__grid-img {
}
.pricing__grid-text {
}
.pricing__grid-headline {
}
.pricing__grid-description {
}
.pricing__grid-price {
}
.pricing__grid-num {
}
.pricing__grid-period {
}
.contact {
}
.contact__container-img {
}
.contact__img {
}
.contact__text {
}
.contact__headline {
}
.contact__description {
}
.contact__form {
}
.form-example {
}
.btn__form {
}
.footer {
}
.footer__logo {
}
.footer__img {
}
.footer__policy {
}
.footer__links {
}
